.Footer {
  background-color: #3F303E;
  color: #A0B890;
  position: fixed;
  bottom: 0;
  height: 10px;
  width: 100vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  border-top: 3px solid #C3463E;
}